{% extends 'base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/donat.css' %}">

<div class="donat-container">
    <div class="support-widget">
        <!-- Первый макет -->
        <div class="design-v1">
            <h1>Поддержите проект!</h1>
            <ul class="features checkboxes">
            <li>
                <label for="feature1">Ваши донаты помогают нам развивать сайт и добавлять новые плюшки</label>
            </li>
            <img class="capy-love" src="{% static "img/capy-love.svg" %}" alt="">
            </ul>
            <div class="btn-donat">
            <button class="action-btn">Задонатить</button>
            </div>
        </div>
        
        <!-- Второй макет -->
        <div class="design-v2">

        <div class="premium-section">
            <h1>Получить Premium!</h1>
            <ul class="features checkboxes">
        <li>
                <img src="{% static 'img/Subtract-prem.svg' %}" alt="пермки">
                <label for="feature1">Возможность устанавливать обои в профиле</label>
            </li>
            <li>
                <img src="{% static 'img/Subtract-prem.svg' %}" alt="пермки">
                <label for="feature2">Получать уведомления о выходе глав</label>
            </li>
            <li>
                <img src="{% static 'img/Subtract-prem.svg' %}" alt="пермки">
                <label for="feature3">Менять цвет никнейма</label>
            </li>
            <li>
                <img src="{% static 'img/Subtract-prem.svg' %}" alt="пермки">
                <label for="feature3">Эксклюзивный набор стикеров</label>
            </li>
            </ul>
            <div class="btn-donat">
            <button class="action-btn2">Активировать</button>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}