{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="reklama">
    <a href="{% url 'catalog' %}">
        <img class="reklama_img" src="{% static "img/poster.png" %}" alt="">
    </a>
    
</div>

<div class="swiper">
    <div class="swiper-top">Последние обновления</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>


<div class="grid-flex">
    <div class="grid-container" id="grid-container-2">
        <div class="grid-name">Популярные тайтлы</div>
        <div class="grid-right">
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
        </div>
    </div>

    <div class="grid-container" id="grid-container-1">
        <div class="grid-name">Популярные авторы</div>
        <div class="grid-left">
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
        </div>
    </div>
</div>

<div class="swiper" id="swiper-2">
    <div class="swiper-top">Сейчас читают</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>

<div class="swiper" id="swiper-3">
    <div class="swiper-top">Недавно анонсировано</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="manga-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>

<div class="swiper" id="swiper-4">
    <div class="swiper-top">Пользовательские коллекции</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>

<div class="swiper" id="swiper-5">
    <div class="swiper-top">Выбор редакции</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img class="collection-img" src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>

{% endblock main %}