{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="reklama">
    <img class=reklama_img src="{% static "img/poster.png" %}" alt="">
</div>

<div class="swiper">
    <div class="swiper-top">Последние обновления</div>
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
            <div class="swiper-slide">
                <img src="{% static "img/mangaplh.png" %}" alt="">
                <div class="manga-name">Тетрадь смерти</div>
            </div>
    </div>
</div>
{% endblock main %}
    