body {
    font-family: 'Comic-Helvetic';
    font-weight: normal;
    font-size: 20px;
    background-color: #5A3F26;
    text-decoration: none;
    color: #5A3F26;
    min-height: 100vh;
}

.donat-container{
    width: 100%;
    height: 580px;
    background-color: #FFD7BC;
    border-radius: 15px;
}

.support-widget {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 160px;
    justify-content: center;
    padding: 27px;
}

.design-v1, .design-v2 {
    border: 1px solid #C99875;
    border-radius: 12px;
    padding: 35px;
    width: 347px;
    height: 445px;
    border-radius: 15px;
    border: 6px solid #88624E;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #5A3F26;
}



.design-v1 h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    color: #5A3F26;
    margin-top: 0;
}

.design-v2 h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    color: #5A3F26;
    margin-top: 0;
}

.support-section, .premium-section {
    margin-bottom: 20px;
}

p {
    color: #5A3F26;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}

.features {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.design-v1 .features li {
    padding: 8px 0;
    color: #5A3F26;
}

.design-v2 .features.checkboxes li {
    display: flex-start;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.design-v2 input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.action-btn {
    font-family: 'Comic-Helvetic';
    font-size: 22px;
    color: #5A3F26;
    display: block;
    width: 200px;
    height: 60px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #C99875;
    margin-top: 15px;
}

.btn-donat{
    display: flex;
    justify-content: center;
}

.action-btn2{
    font-family: 'Comic-Helvetic';
    font-size: 22px;
    color: #5A3F26;
    display: block;
    width: 200px;
    height: 60px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    background-color: #C99875;
    margin-top: 67px;
}

.btn-donat2{
    display: flex;
    justify-content: center;
}

.divider {
    border: none;
    height: 1px;
    background: #C99875;
    margin: 20px 0;
}

.capy-love {
    display: block;     
    margin: 20px auto;     
    max-width: 100%;   
    height: auto;         
}