body {
    background-color: #5A3F26;
    margin: 0px;
    text-decoration: none;
    font-family: 'Comic Helvetic';
    color: #5A3F26;
    min-height: 100vh;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #F1C6A9;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 100px 0 100px;
    justify-content: space-between;
    margin: 0%;
}
@media (max-width: 1024px) {
    .header {
        padding: 0 30px 0 30px;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 0 10px 0 10px;
    }
}

.search-from{
    width: 446px;
    background-color: #FFEBDE;
    border-radius: 10px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}
.fullLogo{
    display: flex;
    flex-direction: row;
    gap: 8px    ;
}
.logo__text{
    display: none;
}
@media (min-width: 1024px) {
    .logo__text {
        display: flex;
    }
}
.logo__text--plnsht{
    display: flex;
}
@media (max-width: 768px) {
    .logo__text--plnsht {
        display: none;
    }
}
@media (min-width: 1024px) {
    .logo__text--plnsht {
        display: none;
    }
}

.search-from__txt{
    display: none;
    background-color: #FFEBDE;
    border: NONE;
    outline: none;
    width: 70px;
    padding: 0%;
}
@media (min-width: 400px) {
    .search-from__txt {
        display: flex;
    }
}

.search-from__btn{
    border: NONE;
    background: none;
}

.search-from__image{
    display: flex;
    align-items: center;
}

.header-leftside{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-leftside ul {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.kolokol{
    display: flex;
}
@media (max-width: 768px) {
    .kolokol {
        display: none;
    }
}

.ava{
    display: flex;
}
@media (max-width: 768px) {
    .ava {
        display: none;
    }
}

.swiper-img{
    width: 100%;
}

.swiper{
    background-color: #FFD7BC;
    border-radius: 20px;
    margin-top: 15px;
}

.swiper-wrapper{
    padding: 18px;
}

.main{
    margin: 20px 100px;
    margin-bottom: 40px;
    flex: 1;
}
@media(min-width: 768px) {
    .main {
        margin: 20px;
    }
}
@media(min-width: 400px) {
    .main {
        margin: 10px;
    }
}
@media(min-width: 1380px) {
    .main {
        margin: 20px 100px;
    }
}

.swiper-top{
    padding-top: 18px;
    padding-left: 18px;
    font-size: 20px;
}

.swiper-slide{
    width: auto !important;
}

.manga-name{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-top: -36px;
    width: 100%;
    border-radius: 20px;
    color: white;
    text-align: center;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reklama_img{
    width: 100%;
}

.grid-flex{
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
@media(max-width: 1379px) {
    .grid-flex {
        flex-direction: column;
    }
}

.grid-left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    width: 100%;
}
@media(max-width: 1379px) {
    .grid-left {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.grid-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 12px;
    width: 100%;
}
@media(max-width: 1379px) {
    .grid-right {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.grid-container{
    background-color: #FFD7BC;
    padding: 20px;
    border-radius: 20px;
    gap: 18px;
    display: flex;
    flex-direction: column;
}
@media(min-width: 1380px) {
    .grid-container {
        width: 100%;
        position: absolute;


.hr-line hr {
    align-items: center;
    border: none;
    height: 2px;
    background-color: #5A3F26;
    width: 80%;
    margin: 20px 0;
}

.footer{
    position: relative;
    height: 454px;
    bottom: 0;
    left: 0;
    width: auto;
    box-sizing: border-box;
    display: flex !important;
    justify-content: center !important;
    align-items: center ;
    flex-direction: column;
    place-items: center;
}

.footer-icons{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.footer-icons img:hover {
    transform: scale(1.2);
}


